# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# VSCode settings
.vscode/

# Environment variables
.env

# Byte-compiled / cache
*.pyc

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore video files (optional)
*.mp4
